---
layout: home
title: Home
---

<div class="container-fluid home-banner">
	<div class="row">
		<div class="col align-self-center">
			<img class="spine z-0" src="/assets/img/spine-2.webp"/>
			<p class="welcome">
				<span>Hi, I'm</span> <span class="welcome-color-2">{{ site.data.general.welcome_name }}</span>
			</p>
			<p>
				<button type="button" class="btn btn-primary btn-lg"><a href="{{ site.bookingurl }}" target="_blank">Book an Appointment</a></button>
			</p>
		</div>
	</div>
</div>
<div class="container-fluid gradient p-5">
	<div class="row description">
		<div class="col align-self-center">{{ site.data.general.description }}</div>
	</div>
	<div class="row">
		<div class="col-4 offset-2 offset-sm-4 offset-md-6 offset-lg-8 py-4">
			<img src="/assets/img/dr-christie-sig.webp" style="height: 52px; width: 387px;"/>
		</div>
	</div>
</div>
<div class="container-fluid features">
	<div class="row justify-content-evenly">
		{% capture features_index %}{{ 12 | divided_by: site.data.features.size | round }}{% endcapture %}
		{% for feature in site.data.features %}
		<div class="col-4">
			<div class="card mx-auto rounded-3">
				<img class="card-img-top" src="{{ feature.img }}"/>
				<div class="features-button">
					<button type="button" class="btn btn-light shadow p-3"><a href="{{ feature.href }}">{{ feature.title }}</a></button>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="container-fluid why-me">
	<div class="row justify-content-lg-end">
		<div class="col-10 col-lg-6 card m-5 rounded-3">
			<h1 class="m-5">Why Choose Me?</h1>
			<ul class="mx-5 nav nav-underline" id="whyMeTabs" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="experience-tab" data.s-toggle="tab" data.s-target="#experience-tab-pane" type="button" role="tab" aria-controls="experience-tab-pane" aria-seleced="true">Experience</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="passions-tab" data.s-toggle="tab" data.s-target="#passions-tab-pane" type="button" role="tab" aria-controls="passions-tab-pane" aria-seleced="true">Passions</button>
				</li>
			</ul>
			<div class="mx-5 my-3 tab-content" id="whyMeTabsContent">
				<div class="tab-pane fade show active" id="experience-tab-pane" role="tabpanel" aria-labelledby="experience-tab" tabindex="0">
					<ul class="lh-lg">
						{% for item in site.data.why-me.experience %}
						<li>{{ item }}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="tab-pane fade" id="passions-tab-pane" role="tabpanel" aria-labelledby="passions-tab" tabindex="0">
					<ul class="lh-lg">
						{% for item in site.data.why-me.passions %}
						<li>{{ item }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="mx-5 my-3"><a class="fw-bold link-primary link-underline-opacity-0" href="/team/ashley-harmon">Read More &gt;</a></div>
		</div>
	</div>
</div>