<div class="d-flex topbar bg-body-tertiary" style="height: 50px;">
  <div class="py-2 px-5 flex-lg-grow-1 tagline align-self-center">{{ site.tagline }}</div>
  <div class="p-2 flex-lg align-self-center"><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="bi bi-facebook fs-4"></i></a></div>
  <div class="py-2 px-5 align-self-center"><button type="button" class="btn btn-warning"><a href="{{ site.bookingurl }}" target="_blank">Book an Appointment</a></button></div>
</div>

{% if include.landing_page == "true" %}
<div class="row">
  <div class="col-12 text-center">
    <img src="/assets/img/logo.svg" alt="Vitality Family Chiropractic Logo" height="200px"/>
  </div>
</div>
{% else %}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand px-5" href="#">
      <img src="/assets/img/logo.svg" alt="Vitality Family Chiropractic Logo" height="100px"/>
    </a>
    <div class="d-flex px-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if include.nonav != "true" %}
        {% include nav.html nav=site.data.nav %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endif %}