---
layout: page
title: Corrective Care Videos
---
{% include youtube.html video="yWt5qxXNJOY" title="Home Rehab Intro" %}

{% include youtube.html video="JjIpDGnUmJ8" title="Wobble Chair Exercises" %}

{% include youtube.html video="NaSMw4CC4RE" title="Spinal Sleeping Aids and Pelvic Wedges" %}

{% include youtube.html video="43oVx_7MNtE" title="Pelvic Blocking" %}

{% include youtube.html video="FKrBq-8U0jY" title="Head Weighting Exercise" %}

{% include youtube.html video="09cXC9LsNxA" title="Cervical Traction Exercise" %}

{% include youtube.html video="Jy1-bti8w2I" title="Alar Ligament Left" %}

{% include youtube.html video="3ZDJCCby7hU" title="Alar Ligament Right" %}

{% include youtube.html video="I-YDlzdPoaA" title="Atlas (C-1) Rotation Left" %}

{% include youtube.html video="5Ldd99uFQ-k" title="Atlas (C-1) Rotation Right" %}

{% include youtube.html video="62bm9IBE4Do" title="Cervical Flexion Exercise" %}

{% include youtube.html video="scgBGnSIuPg" title="Cervical Extension Exercise" %}

{% include youtube.html video="wHzfft9P5hA" title="Cervical Dorsal Exercise (Compensated)" %}

{% include youtube.html video="ZgR8fRVj6R4" title="Cervical Dorsal Exercise (Uncompensated)" %}

{% include youtube.html video="Uzlz3NNSH1o" title="Chest Expander Exercise" %}

{% include youtube.html video="VD5hbGnVS3w" title="Praying Mantis Exercise" %}

{% include youtube.html video="k1TPcUZD6QQ" title="Pit Ball/Arm Squeeze Exercise" %}

{% include youtube.html video="ZVn0drIooew" title="Psoas Stretch Left Side" %}

{% include youtube.html video="Y6JQwK0lwkA" title="Psoas Stretch Right Side" %}

{% include youtube.html video="pFzVm98GXlQ" title="Lumbar Extension Exercise" %}

{% include youtube.html video="KOnhe38DLgE" title="Lateral Strap Exercise Left Side" %}

{% include youtube.html video="i49qoqehzkU" title="Lateral Strap Exercise Right Side" %}

{% include youtube.html video="a6k-BgbApYU" title="Quadratus Lumborum Left" %}

{% include youtube.html video="Hg9uwWTkLgk" title="Quadratus Lumborum Right" %}

{% include youtube.html video="3vh7W0nNcx8" title="L-5 Spondylo Blocking Exercise" %}

{% include youtube.html video="jjvZ4MpSiCI" title="L-5 Spondylo Lower Exercise" %}

{% include youtube.html video="Aq1wgs4tp1A" title="Leg Extension Exercise" %}
